@import "tailwindcss";

@theme {
  --color-primary: #f4a460;
  --color-secondary: #c67f41;

  --font-audiowide: var(--font-audiowide);
  --font-orbitron: var(--font-orbitron);

  --breakpoint-xs: 25rem;
}

.custom-range {
  @apply w-full h-2 bg-[#FFD166] rounded-lg appearance-none cursor-pointer;
}

.custom-range::-webkit-slider-thumb {
  @apply w-4 h-4 bg-[#F4B840] rounded-full appearance-none cursor-pointer;
}

.custom-range::-moz-range-thumb {
  @apply w-4 h-4 bg-white rounded-full cursor-pointer;
}
